<%= render 'myadmin/users/navigation'%>
<div class="container">
  <%= render 'catalog' %>
  <div class="col-sm-9">
      <div id="section1">
        <p>Administration Site</p>
      </div>
  </div>
</div>
    
