<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src = /assets/login.js></script>
    <style src = /assets/login.css></style>
    <!--div.login {
        background-color: #F0F0F0 ;
        width: 500px;
        height: 150px;  
        font-family:fantasy;
        font-size:360%;
        text-align:center;
        line-height:150px;
    }
    div.transbox {
      background-color: #F0F0F0 ;
      filter: alpha(opacity=30); /* For IE8 and earlier */
      position: absolute;
      top: 75px;
      right: 350px;
      width: 500px;
      height: 500px;
    }
    div.form {
        background-color: #F0F0F0 ;
        width: 500px;
        height: 200px;
    }
    </style>-->
  </head>
  <body>
      <div class = "transbox">
      <div class = "login">
        Login Information
      </div> 
      <%= form_tag("/login", method: "post") do %>
        <div class = "form">
        <div class="col-sm-9">
          <input class="form-control input-lg" id="myUsername" type="text" value="Enter Username" name = "username" onclick = "enterUsername();"/>
        </div>
        <br></br>
        <br></br>
        <div class="col-sm-9">
          <input class="form-control input-lg" type="text" id = "myPassword" value="Enter Password" name = "password" onclick ="enterPassword();"/> 
        </div>
        </div>
        <button type="submit" id="signin" class="btn btn-primary" style ="height:50px;width:150px;position: absolute; top: 350px;
        right: 310px;">Login</button> 
      <%end%>
      <%= form_tag("/signup", method: "get") do %>
      <button type="submit" id="signup" class="btn btn-primary" style ="height:50px;width:150px;position: absolute; top: 350px;
        right: 60px;">Signup</button>
      </div>
      <%end%>
  </body>
</html>