<html>
  <head>
  </head>
  <body>
    <%= form_tag("/login", method: "post") do %>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="username" class="form-control" id="username" name = "username">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="password" name = "password">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <input name="commit" type="submit" value="Login" />
    <%end%>
    <% if flash[:notice] %>
      <div id = "notice">
        <%= flash[:notice] %>
      </div>
    <%end%>
  </body>
</html>