<tr>
    <td>Topic</td>
    <td>Date</td>
    <td>Location</td>
    <td>Government</td>
    <td>Opposition</td>
    <td>Judge</td>
    <% if current_user.is_admin == true %>
      <td></td>
    <% end %>
</tr>
