<div class = "title" style="width:800; margin-left:200">Create Mockup Debate</div>
<%= render 'message'%>
<div class = "boxed1">
  <%= form_tag("/mockdebate/create", method: "post") do %>
    <%= render 'form' %>
    <div class = "bootstrapbutton">
      <button type="submit" class="btn btn-primary btn-lg">Create</button>
    </div>
  <% end %>
</div>