.debate_title {
    position: absolute;
    width: 800px; 
    margin-left: 400px;
    top: 12%;
    font-size: 250%;
    color: white;
}

.registrationbutton {
  background-color: green;
}

.table-apds, th, td {
   margin: 4%;
   width: auto;
   text-align: left;
}

.createdebate{
    margin: 4%;
}

.custom {
    width: 63px;
    height: 30px;
}

.customlabel {
   display: inline-block;
   height: 30px;
}
 


.blue {
    color: blue;
}


.message{
    position: absolute;
    top: 20%;
    width: 1220;
    text-align: center;
    //z-index: 100;
    margin-top: 10;
    margin-left: 20;
}

.boxed {
  border-radius: 0.5em;
  margin: 2%;
  position: absolute;
  top: 30%;
  width: 1220px;
  background-color: white;
  padding-left: 8;
  margin-right: 8;
}

.boxed1 {
  border-radius: 0.5em;
  margin: 14%;
  position: absolute;
  top: 12%;
  width: 900px;
  height: 340px;
  background-color: white;
  //padding-left: 8;
  //margin-right: 8;
}

.boxed2 {
  margin: 2%;    
}

.bootstrapbutton {
  margin: 2%;    
}

