.debate_title {
    margin-top: 5%;
    font-size: 250%;
    color: white;
    text-align: center;
}
.wrapper-debate{
    width: 1220px;
    margin: 0 auto;
}
.registrationbutton {
  background-color: green;
}
.table-apds, th, td {
   margin: 5%;
   text-align: left;
}
.createdebate{
    margin: 4%;
}
.custom {
    width: 63px;
    height: 30px;
}
.customlabel {
   display: inline-block;
   height: 60px;
}
 .blue {
    color: blue;
}
.boxed {
  border-radius: 0.5em;
  margin-top: 100px;
  background-color: white;
  padding: 8px;
  margin-bottom: 50px
}
.boxed1 {
  border-radius: 0.5em;
  margin: 14%;
  margin-top: 50px;
  padding: 10px;
  top: 12%;
  width: 900px;
  height: 340px;
  background-color: white;
  //padding-left: 8;
  //margin-right: 8;
}
.boxed2 {
  margin: 2%;    
}
.bootstrapbutton {
  margin: 2%;    
}

.spandiv{
  font-size: 17px;
}


