.invitation-title{
    text-align: center;
    margin-top: 10%;
    font-size: 250%;
    color: white;
}
.message{
    text-align: center;
    margin-top: 100px;
}
.box {
  border-radius: 0.5em;
  margin: 14%;
  margin-top: 10px;
  width: 900px;
  height: 340px;
  background-color: white;
}

.notice_label {
  margin: 2%;
  position: absolute;
    
}
.text_area {
  margin-top: 60px;
  margin-left: 285px;
  position: absolute;
}
.submit_tag{
    position: absolute;
    margin-top: 280px;
    margin-left: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
}
    
    
    