// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* line 4, /home/ubuntu/workspace/American-parliamentary-debate-society/app/assets/stylesheets/profile.scss */
.personal-image {
  max-width: 300px;
}

/* line 8, /home/ubuntu/workspace/American-parliamentary-debate-society/app/assets/stylesheets/profile.scss */
.link-color {
  color: #0C0240;
}

#post_content{
  a{
    color: #0C0240;
  }
}

.edit_user{
  .optional{
    width: 100%;
  }
}